@(taskList: Seq[models.Task], withoutFinish: Boolean)

@import helper._


@taskRow(task: models.Task) = {
    <tr id="@task.id">
        <td class="id"><a href="/tasks/@task.id">@task.id</a></td>
        <td class="taskName">@task.name</td>
        <td class="isDone">@task.isDone</td>
    </tr>
}

@views.html.main("") {
    <div class="w3-row">
        <div class="w3-half">
            <h3>登録済みタスク</h3>
            @if(withoutFinish){
                <a href="/tasks">全てのタスクを表示</a>
            }else{
                <a href="/tasks?withoutFinish=true">未完了タスクのみ表示</a>
            }
        </div>
        <div class="w3-right">
            <a href="/tasks/new"><span class="w3-button w3-green">タスク追加</span></a>
        </div>
    </div>
    @if(taskList.nonEmpty) {
    <table id="task-list" class="w3-table w3-striped w3-border">
        <tr>
            <th>ID</th>
            <th>タスク名</th>
            <th>完了済み</th>
        </tr>
        @for(task <- taskList) {
            @taskRow(task)           
        }
    </table>
    } else {
    <p>登録されたメッセージはありません</p>
    }
}